<!DOCTYPE html>
<html lang="en">

{{partial "head.html" .}}
<script>
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };



</script>

<meta property="og:image" content="https://www.happygreensprout.com/img/delicious-healthy-snacks-ebook.png"/>

<body onload="javascript:document.getElementById('source').value =
getUrlParameter('source');">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N9C6HS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-container">
            <header class="single-showcase">
                <h1>{{.Title}}</h1>
            </header>
        </section>


        <section class="blog-post">

            <img class="blog-post-image" src="{{ .Params.image}}"/>

            <div class="blog-content">{{.Content}}</div>

            <form name="ebook-registration-healthy-snacks" method="POST"
                  data-netlify="true"
                  action="/delicious-healthy-snacks-ebook-thanks">

              <p>
                  <label>Name:</label>
                  <input type="text" name="name" required/>
              </p>
              <p>
                  <label>Email address:</label>
                  <input type="email" name="email" id="email" required/>
              </p>
              <p>
                  We understand your privacy is important. We may
                  contact you about future promotions, but don't worry,
                  you'll be able to easily unsubscribe at any time.
              </p>
              <p>
                <button href="" type="submit" class="btn">Get the eBook</button>
              </p>
            </form>

        </section>

    {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>