<!DOCTYPE html>
<html lang="en">

{{partial "head.html" .}}

<body>

    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-container">
            <header class="single-showcase">
                <h1>Enquire</h1>
            </header>
        </section>

        <section class="enquiry-content">

            <form name="contact" method="POST" data-netlify="true"
                  action="/enquiry-thanks">

              <p>
                  <label>Name:</label>
                  <input type="text" name="name" />
              </p>
              <p>
                  <label>Mobile number:</label>
                  <input type="text" name="email" />
              </p>
              <p>
                  <label>Email:</label>
                  <input type="text" name="email" />
              </p>
                <p>
                    <label>Preferred method of contact:</label>
                    <span class="radiocontainer">
                    <label>Email</label><input type="radio" id="p_email"
                                           name="preferred" value="p_email">
                    <label>Phone</label><input type="radio" id="p_phone"
                                           name="preferred" value="p_phone">
                        </span>
                </p>
              <p>
                  <label>
                    Do you have a particular ailment you are looking to improve through the work we do together on nutritional therapy?
                  </label>
                  <textarea name="ailment"></textarea>
              </p>

              <p>
                  <label>
                    Any additional questions you have, or things you’d like me to know.
                  </label>
                  <textarea name="ailment"></textarea>
              </p>

              <p>&nbsp;</p>
              <p>

                <button href="" type="submit" class="btn">Submit</button>
              </p>
            </form>

        </section>

    {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>