<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
          rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <div class="header sticky" id="header">
            <div class="company">
                <img src="/img/hgs-script-4.png" />
            </div>
            <div class="topnav" id="myTopnav">
                {{ range .Site.Menus.main }}
                    <a class="menu" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                  </a>
            </div>
        </div>

        <section class="top-single-container">
            <header class="single-showcase">
            </header>
        </section>

        <section class="blog">
          {{ range .Paginator.Pages }}
          <section class="blog-item blog-image">
              <img src="{{.Params.image}}" alt="">
          </section>
          <section class="blog-item blog-details">
               <div class="blog-title">
                    <a href="{{.URL}}">{{.Title}}</a>
               </div>
               <div class="blog-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
               <div class="blog-tags">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="blog-categories">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="blog-moods">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

               <p class="blog-summary">{{.Summary}}</p>
          </section>
          {{ end }}
        </section>
        <footer>
            <p>Happy Green Sprout &copy; 2019</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>