<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <div class="header">
            <div class="company-logo"></div>
            <div class="company">
                <img src="/img/happy-green-sprout-2.png"/>
                <!--<h1>{{.Site.Params.title}}</h1>-->
                <p>{{.Site.Params.subtitle}}</p>
            </div>
        </div>

        <nav class="main-nav">
            {{ $currentPage := . }}
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

            </ul>
        </nav>
        <section class="top-blog-container">
            <header class="blog-showcase">
            </header>
        </section>
        <section class="blog">
          <section class="side-content"></section>
          {{.Content}}
          {{ range .Pages }}
          <section class="blog-image">
              <img src="{{.Params.image}}" alt="">
          </section>
          <section class="blog-details">
               <div class="blog-title">
                    <a href="{{.URL}}">{{.Title}}</a>
               </div>
               <div class="blog-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
               <div class="blog-tags">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="blog-categories">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="blog-moods">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

               <p class="blog-summary">{{.Summary}}</p>
          </section>
          {{ end }}
        </section>
        <footer>
            <p>Happy Green Sprout &copy; 2019</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>