<!DOCTYPE html>
<html lang="en">

{{partial "head.html" .}}


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N9C6HS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-container">
            <header class="single-showcase">
<!--                <h1>Work With Me</h1>-->
            </header>
        </section>

        <section class="indiv-content" name="indiv-packages">
            <div class="indiv-text">
                <h2>Nutrition Advice and Coaching</h2>

                <p>I work closely with individuals, providing personalised one-on-one advice and group workshops.

                    My main focus is on educating and empowering people to make lasting changes in their daily lives,
                    leading to improved well-being.
                    I can assist individuals with chronic conditions, assist with weight loss goals or help to
                    optimise your nutritional intake to maximise your sports performance.</p>

                <p>Additionally, I offer support to alleviate symptoms related to perimenopause.
                    You can find the details of my service packages below.
                </p>

                <h4>Want to know more? Contact me to organise a free 20
                    minute discussion, or enquire about one of the packages below.</h4>
                <a href="/enquiry?source=general-nutrition" class="btn">Enquire
                </a>

            </div>
            <div class="indiv-image">
                <div class="service-employer-box">
                    <h3 class="">Looking for something else?</h3>
                    <p class="">
                        If you don't see an option that fits your requirements, please get in touch.</p>
                    <p class="">I’d be happy to chat and explore how I could tailor my services to suit your needs.
                    </p>

                    <a href="/enquiry?source=something-else" class="btn">Enquire</a>
                </div>
            </div>
        </section>

        <div class="service-box-background">
            <section class="service-boxes">
                <div class="service-box">
                    <h2 class="service-title">Individual 1-on-1 Coaching</h2>
                    <p class="service-summary">
                        Let’s work together to improve your overall health and fitness by identifying simple
                        progressive changes that are easy to put in place, and develop a plan for the long term.

                    </p>
                    <div class="service-pricing">
                        <h3>$120 initial review and recommendations</h3>
                        <h3>$65 follow-up meetings</h3>

                        <a href="/enquiry?source=indiv-coaching" class="btn">
                            Enquire</a>
                    </div>
                    <ul>
                        <li>A full assessment of your current diet, food patterns and feedback on any nutritional
                            deficiencies or optimisations</li>

                        <li>Detailed support in planning for meals, snacks and help finding new recipes to assist you</li>

                        <li>A detailed recommendation report and plan of action for you to follow to improve your health</li>

                        <li>Regular follow up sessions to discuss progress and tailor the recommendations.</li>
                    </ul>
                </div>

                <div class="service-box">
                    <h2 class="service-title">Menopause 1-on-1 Coaching</h2>
                    <p class="service-summary">
                    Sick of the daily anxiety? The feelings of low energy, digestive issues and memory issues?
                        Fed up with doctors telling you it’s ‘just the menopause’ and dismissing your concerns?

                    <div class="service-pricing">
                        <h3>$495 for 8-week program</h3>
                        <a href="/enquiry?source=indiv-menopause" class="btn">
                            Enquire</a>
                    </div>

                    <ul>
                        <li>Assessment of your main symptoms, nutritional deficiency analysis, with recommendations
                            of both food and supplements that can assist you to help address your symptoms</li>
                        <li>Get to the bottom of what is causing your specific menopause symptoms, whether they be
                            hormonal weight gain, anxiety and/or anger response, hot flushes or other symptoms
                            associated with menopause</li>
                        <li>You receive a detailed report and plan of action for the coming weeks so you know
                            what’s in store</li>
                        <li>Regular follow up sessions to discuss progress and tailor the recommendations.</li>
                    </ul>
                </div>

                <div class="service-box">
                    <h2 class="service-title">Menopause Group Coaching Program</h2>
                    <p class="service-summary">
                        Our group coaching program is based on the latest science and research and covers the
                        full range of nutritional and lifestyle changes you can make to help your ongoing
                        perimenopause symptoms.</p>

                    <p class="service-summary">It also allows you to meet others going through a similar journey, to learn from each
                        others' experiences.</p>

                    <div class="service-pricing">

                        <h3>TBD</h3>
                        <a href="/register-interest"
                           class="btn">Join the Waitlist</a>
                    </div>

                    <ul>
                        <li class="sub-li-last">Weekly recorded group session/webinar on a different topic each week
                            such as:</li>
                        <div class="sub-ul">
                            <ul>
                                <li>Nutrition advice and supplements for the menopause transition</li>
                                <li>Mood management - anxiety, depression & the anger response</li>
                                <li>Managing weight gain during perimenopause</li>
                                <li>Group Q&A’s covering the weekly topic and broader questions.</li>
                            </ul>
                        </div>
                        <li>Personalised review of your current diet, movement and other lifestyle patterns and
                        habits to create a tailored plan for the upcoming weeks</li>
                        <li>Includes two personal video consultations to review your individual progress
                            and tailor recommendations as needed.</li>
                    </ul>
                </div>
            </section>
        </div>

        <a name="employee"></a>
       <section class="comp-content">
            <div class="comp-image">
                <img src="/img/wordcloud-hgs.jpg"/>
            </div>

            <div class="comp-text">
                <h2>Employee Wellness programs</h2>

                <p>We offer employee wellness programs for clients who are looking to offer their employees
                    an additional benefit and enable employees to maximise their wellness
                    based on the latest research.</p>

                <p>We tailor programs for each company based on the company’s unique
                    requirements and needs.</p>

                <p>For Employers our services can include:</p>

                    <ul>
                        <li>Group Presentations on a range of topics including:</li>
                            <ul>
                                <li>Advice on fostering a supportive work environment that caters to women
                                    throughout various life stages, including pregnancy, perimenopause, and beyond</li>
                                <li>Good Fats for brain health</li>
                                <li>Why the latest fad diet is never the ‘answer’</li>
                                <li>It’s not all about the food...stress less, digest and
                                sleep to heal your body</li>
                            </ul>
                            <li>One-on-one sessions with employees, at your
                            offices with personalised advice</li>
                            <li>3 - month coaching programs to assist with
                                changes</li>
                            <li>Optimise your office kitchen or snack cupboard
                                for health (without removing *all* the
                                things)</li>
                    </ul>

                <h3>Contact us for more information on the services we provide and we can provide you with a tailored solution and package.</h3>
                <a href="/enquiry?source=employee-program" class="btn">Enquire</a>

            </div>
        </section>

    {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>