<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>Di's NTP Site</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="company-logo"></div>
            <div class="company">
                <img src="/img/happy-green-sprout-2.png"/>
                <!--<h1>{{.Site.Params.title}}</h1>-->
                <p>{{.Site.Params.subtitle}}</p>
            </div>
        </div>
        <nav class="main-nav">
            {{ $currentPage := . }}
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <section class="top-blog-container">
            <header class="blog-showcase">
              <h1>{{.Title}}</h1>
            </header>
        </section>
        </div>
        <div class="blog-post">
              <img src="{{ .Params.image}}" width="500"/>
              <h2>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h2>
              <div>{{.Content}}</div>
        </div>
        <div class="blog-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        <footer>
            <p>Happy Green Sprout &copy; 2019</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>