<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
          rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header sticky" id="header">
            <div class="company">
                <!--<img src="/img/happy-green-sprout-4.png"/>-->
                <!--<img src="/img/happygreensprout-script.png" />-->
                <img src="/img/hgs-script-4.png" />
            </div>
            <div class="topnav" id="myTopnav">
                {{ range .Site.Menus.main }}
                    <a class="menu" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              <!--<a href="#home" class="active">Home</a>-->
              <!--<a href="#news">News</a>-->
              <!--<a href="#contact">Contact</a>-->
              <!--<a href="#about">About</a>-->
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                  </a>
            </div>
            <!--<nav class="main-nav" id="top-nav">-->
                    <!--<a class="icon" href="javascript:void(0);"-->
                           <!--onclick="myFunction()">-->
                        <!--<i class="fa fa-bars"></i>-->
                    <!--</a>-->
                    <!--{{ range .Site.Menus.main }}-->
                    <!--<a class="menu" href="{{ .URL }}">{{ .Name }}</a></li>-->
                    <!--{{ end }}-->
            <!--</nav>-->
        </div>
        <section class="top-single-container">
            <header class="single-showcase">
              <h1>{{.Title}}</h1>
            </header>
        </section>
        </div>
        <div class="blog-post">
              <img src="{{ .Params.image}}" width="500"/>
              <h2>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h2>
              <div>{{.Content}}</div>
        </div>
        <div class="blog-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        <footer>
            <p>Happy Green Sprout &copy; 2019</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>