<!DOCTYPE html>

<html lang="en">

{{ partial "head.html" .}}

<body>
    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-single-container">
            <header class="single-showcase">
              <h1>{{.Title}}</h1>
            </header>
        </section>
        </div>
        <div class="blog-post">
              <img src="{{ .Params.image}}" width="500"/>
              <h2>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h2>
              <div>{{.Content}}</div>
        </div>
        <div class="blog-comments">
            {{ template "_internal/disqus.html" . }}
        </div>

        {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>