
        <div class="header sticky" id="header">
            <div class="company">
                <img src="/img/hgs-script-4.png" />
            </div>
            <div class="topnav" id="myTopnav">
                  <a href="javascript:void(0);" class="icon menu"
                     onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                  </a>
                {{ range .Site.Menus.main }}
                    <a class="menu" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                  <a href="https://www.instagram.com/cotterilldiane/"
                     class="sm-icon" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="http://twitter.com/happygrnsprout" class="sm-icon" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="mailto:happygreensprout@gmail.com" class="sm-icon" target="_blank">
                    <i class="fa fa-envelope"></i>
                  </a>
            </div>
        </div>
