<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:image"
          content="https://www.happygreensprout.com/img/hgs-screenshot2.png" />
    <meta property="og:image:width" content="1342"/>
    <meta property="og:image:height" content="636"/>
    <!--<meta property="og:description" content="Happy Green Sprout" />-->
    <!--<meta property="og:url"content="http://www.coachesneedsocial.com/coacheswisdomtelesummit/" />-->
    <meta property="og:title" content="Happy Green Sprout" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }

          var x = document.getElementById("header");
          if (x.className === "header sticky") {
            x.className += " responsive-menu";
          } else {
            x.className = "header sticky";
          }

        }
    </script>

    {{ template "_internal/google_analytics.html" . }}

</head>