<!DOCTYPE html>
<html lang="en">

{{partial "head.html" .}}

<body>

    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-container">
            <header class="showcase">
                <h1>{{.Site.Params.maintagline}}</h1>
            </header>
        </section>

        <section class="main-content">
            <div class="index-about">
                <div class="index-image">
                    <img class="rounded-circle" width="300px"
                         src="/img/Di-600.jpeg"/>
                </div>
                <div class="index-content">
                    <h2>Diane Cotterill</h2>
                    <p>My focus is on helping people to feel better through simple healthy choices that fit in with their lifestyle. 
						Through this website I want to help share tips, tricks, 
						recipes and help people to understand what the latest scientific findings and 
						how they can apply the latest findings to improve their own health.</p>
                </div>

            </div>
            <div class="index-services">
                <div class="index-image">
                    <img class="rounded-circle" width="300px" src="/img/ThinkstockPhotos-veg.jpg"/>
                </div>
                <div class="index-content">
                    <h2>Happy Green Sprout</h2>
                    <p>We provide one-on-one consultations with our clients as well as creating packages for corporate organisations.</p>
                </div>
            </div>
            <div class="index-contact">
                <div class="index-image">
                      <a href="https://www.instagram.com/cotterilldiane/">
                          <div class="icons-image">
                            <img width="50px" src="/img/instagram.svg"/><p class="text-black">@cotterilldiane</p>
                          </div>
                      </a>
                      <a href="http://twitter.com/happygrnsprout">
                          <div class="icons-image">
                              <img width="50px" src="/img/twitter.svg"/><p>@HappyGrnSprout</p>
                          </div>
                      </a>
                      <a href="mailto:happygreensprout@gmail.com">
                          <div class="icons-image">
                              <img width="50px" src="/img/envelope.svg"/><p>HappyGreenSprout@gmail.com</p>
                          </div>
                      </a>
                </div>
                <div class="index-content">
                    <h2>Contact</h2>
                    <p>I'd love to speak to you, or be in touch!</p>
                </div>
            </div>
        </section>

        <div class="blog-box-background">
            <section class="blog-boxes">
                {{.Content}}
                {{ range where .Pages "Section" "blog"}}
                <div class="box">
                    <a href="{{.URL}}">
                        <img src="{{.Params.image}}" alt="" class="blog-image">
                        <h3 class="blog-title">{{.Title}}</h3>
                    </a>
                    <p class="blog-summary">{{.Summary}}</p>
                </div>
                {{ end }}
            </section>
        </div>

        <section class="instafeed">
            <div class="instagram-pics">
                {{ $dataJ := getJSON (printf "https://api.instagram.com/v1/users/self/media/recent/?access_token=%s" .Site.Params.inst_access) }}
                {{ range first 10 $dataJ.data }}
                    <a href="{{ .link }}" target="_new">

                        <div class="instagram-pic"
                         style="background: url({{ .images.standard_resolution.url }}) no-repeat center top;background-size:cover;">
                        <!--<p>-->
                            <!--{{ with .caption }}{{ .text }}<br>-->
                            <!--<br>{{ end }}-->
                            <!--<span class="play-date" data-date="{{ .created_time }}"></span>-->
                        <!--</p>-->
                        </div>
                    </a>
                {{ end }}
            </div>
        </section>


    {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>