<!DOCTYPE html>
<html lang="en">

{{partial "head.html" .}}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N9C6HS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">

        {{ partial "header.html" .}}

        <section class="top-container">
            <header class="showcase">
                <h1>Happy and healthy with whole foods</h1>
                <section class="intro-content">
                    <div class="intro-image">
                        <img class="rounded-circle" width="250px"
                             src="/img/Di-600.jpeg"/>
                    </div>
                    <div class="intro-text">
                        <h2>Do you want to optimise your health and wellbeing?</h2>
                        <p>I am here to help people feel better every day.</p>
                        <p>I work with individuals to look at all elements of
                            their life they can change to improve their
                            health and feel good.</p>
                        <p>I work with employers to create programs to help
                            their people live well and feel better every day.</p>
                    </div>
                </section>
            </header>
        </section>

        <section class="indiv-content">
            <div class="indiv-text">
                <h2>Advice for Individuals</h2>

                <p>Are you struggling with your health? Are you ready to make the changes so you can feel better every day?</p>

                <p>Nutritional Therapy can assist with a variety of chronic illnesses and can help you if you are looking to
                    focus on optimising your health you can get back to feeling good and:</p>

                    <ul>
                        <li>Sleep better</li>
                        <li>Have more energy</li>
                        <li>Reduce your symptoms</li>
                        <li>Improve overall health, well being and mindset.</li>
                    </ul>

                <p>I work with people one-on-one to look at what elements of their life they can change to help them improve
                    their health and feel good. Because I believe if we can change small things in our lives and focus on
                    the right things, we can live more and fully enjoy our
                    life.</p>
              <h3>Want to know more? Contact me to organise a free 20
                    minute discussion.</h3>
                <a href="/enquiry?source=homepage" class="btn">Enquire</a>

            </div>
            <div class="indiv-image">
                <img width="500px" src="/img/salmon-plate.png"/>
            </div>
        </section>

        <section class="comp-content">
            <div class="comp-image">
                <img width="400px" src="/img/wordcloud-hgs.jpg"/>
            </div>
            <div class="comp-text">
                <h2>Advice for Employers - Employee Wellness programs</h2>
                <p>Do you want to help your employees live well and feel better
                    everyday?</p>

                <p>Each employee is different with a unique set of needs -
                    work with me to help employees feel better and well nourished.</p>
                <p>Consider programs to:</p>

                <ul>
                    <li>Reduce Stress</li>
                    <li>Promote nutrient dense, healthy and tasty food options
                        in the office</li>
                    <li>Promote a variety of practices to improve mental health
                        and well being.</li>

            </div>
        </section>
        <div class="blog-box-background">
            <section class="blog-boxes">
                {{.Content}}
                {{ $pages := .Pages }}
                {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
                {{ range (where $pages "Section" "==" "blog") }}
                <div class="box">
                    <a href="{{.URL}}">
                        <img src="{{.Params.image}}" alt="" class="blog-image">
                        <h3 class="blog-title">{{.Title}}</h3>
                    </a>
                    <p class="blog-summary">{{.Summary}}</p>
                </div>
                {{ end }}
            </section>
        </div>


    {{partial "footer.html" .}}

    </div> <!-- wrapper ends -->

</body>
</html>