<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>


    <div class="wrapper">
        <div class="header">
            <div class="company-logo"></div>
            <div class="company">
                <img src="/img/happy-green-sprout-2.png"/>
                <!--<h1>{{.Site.Params.title}}</h1>-->
                <p>{{.Site.Params.subtitle}}</p>
            </div>
        </div>

        <nav class="main-nav">
            {{ $currentPage := . }}
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

            </ul>
        </nav>
        <section class="top-container">
            <header class="showcase">
                <h1>{{.Site.Params.maintagline}}</h1>
                <a href="#" class="btn">Book a meeting</a>
            </header>
        </section>

        <section class="main-content">

        </section>

        <section class="blog-boxes">
            {{.Content}}
            {{ range .Pages }}
            <div class="box">
                <img src="{{.Params.image}}" alt="" class="blog-image">
                <h3 class="blog-title">{{.Title}}</h3>
                <p class="blog-summary">{{.Summary}}</p>
            </div>
            {{ end }}

        </section>

        <footer>
            <p>{{.Site.Params.footer}}</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>