/* CSS Variables  */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
    --grey-asparagus: #3E5641;
    --moonstone-blue: #75B9BE;
    --medium-spring-bud: #C7CB85;
    --maximum-green-yellow: #D4DB55;
    --chestnut: #A24936;
    --tango-pink: #EE7674;
    --isabelline: #F3E8EE;
    --romansilver: #7FA796;
    --ashgrey: #BACDB0;
    --silverpink: #C9ADA7;
    --deepspacesparkle: #475B63;
}

html {
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    /*font-family: futura-pt, sans-serif;*/
    font-weight: normal;
    color: var(--deepspacesparkle);
}

body {
    background: var(--medium-spring-bud);
    margin: 0px 0px;
    line-height: 1.4;
}

p {
    font-family: sans-serif;
    font-weight: normal;
}

.btn {
    background: var(--moonstone-blue);
    color: var(--isabelline);
    padding: 0.6rem 1.3rem;
    text-decoration:none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.header {
    background: var(--moonstone-blue);
    display:grid;
    grid-template-columns: 5fr;
    margin: 0px 0px;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company h1 {
    color: var(--tango-pink);
    margin-bottom: 0px;
}

.company p {
    color: var(--silverpink);
    margin-top: 0px;
}

.sticky {
  position: fixed;
}

/* Navigation */

.main-nav {
    /*box-shadow: var(--shadow);*/
}

.main-nav ul {
    font-family: Oswald, sans-serif;
    margin: 0px 80px;
    display: grid;
    grid-gap: 10px;
    padding:0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;

}

.main-nav a:hover {
    color: var(--silverpink);
}


/*.nav-separator {*/
    /*background: var(--romansilver);*/
    /*display:grid;*/
    /*grid-template-columns: 5fr;*/
    /*margin: 0px 0px;*/
    /*box-shadow: var(--shadow);*/
    /*height: 3px;*/
/*}*/

.top-container {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 5fr;
    box-shadow: var(--shadow);
}

.top-blog-container {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 5fr;
}

.showcase {
    min-height: 400px;
    /*background: url(img/vegetables-1212845_1920.jpg);*/
    background: url(img/cook-2364221_1920.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.main-content {
    display: grid;
    grid-gap:100px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 5rem;
}

.index-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded-circle {
  border-radius: 50% !important;
}

.index-image {
    min-height: 300px;
}

/*.index-services {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.index-contact {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

.blog-showcase {
    min-height: 1px;
    max-height: 1px;
    background: url(/img/cook-2364221_1920.jpg);
    background-size: cover;
    background-position: top;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    /*font-style: italic;*/

    margin-top:0;
    /*margin-bottom:0;*/
    color: var(--isabelline);
    text-align:center;
}

.blog-showcase h1 {
    font-size: 2rem;
    /*font-style: italic;*/

    margin-top:10;
    /*margin-bottom:0;*/
    color: var(--isabelline);
    text-align:center;
}

.blog-boxes {
    margin: 50px; 10px;
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.box {
    background: var(--moonstone-blue);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.blog {
    display:grid;
    grid-gap:40px;
    margin:50px; 10px;
    grid-template-columns: 1fr 3fr 1fr;
}

.side-content {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.blog-image {
    grid-column: 1;
}

.blog-details {
    grid-column: 2;
}

.blog-post {
    display:grid;
    grid-gap:40px;
    margin:50px; 10px;
    grid-template-columns: 1fr;
}

.blog-comments {
    display:grid;
    grid-gap:40px;
    margin:50px; 10px;
    grid-template-columns: 1fr;
}

footer {
    margin-top: 2rem;
    background: var(--moonstone-blue);
    color: var(--ashgrey);
    text-align:center;
    padding: 1rem;
}

/* Media Queries */
@media(max-width: 700px) {
    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }
}